#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 60px;
    font-size: 18px;
    & p {
        margin-top: 50px;
        color: rgb(207, 204, 204);
    }
}
#logo {
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 8px;
}
